body{
    text-align: center;
    font-family: 'Courier New';
    margin-top: 2em;
    background-color: beige;
}

#resultado{
    padding-top: 1em;
}

#caixa{
    text-align: justify;
    background-color: white;
    width: 500px;
    height: 400px;
    border-radius: 20%;
    padding-top: 2em;
    padding-left: 2em;
    margin:auto;
}

#anoNasc{
    width: 4em;
}

.botao{
    background-color: black;
    border-radius: 10%;
    color: white;
}
footer{
    padding-top: 1em;
    font-style: italic;
}