body{
    text-align: center;
    font-family: 'Courier New';
    margin-top: 2em;
    background-color: beige;
}

#caixa,#resposta{
    text-align: justify;
}

#caixa{
    background-color: white;
    width: 500px;
    height: 400px;
    border-radius: 20%;
    padding-top: 2em;
    padding-left: 2em;
    margin:auto;
}
footer{
    padding-top: 1em;
    font-style: italic;
}